{% extends 'base.html' %}


{% block title %}
DAV SCHOOL | Faculty
{% endblock %}

{% block header %}
    {% include '../header.html' %}
{% endblock %}

{% block body_data %}
<div class="row">
    <div class="col-6 col-md-4">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Responsive Template</label>
        <p>
            Bootstrap’s grid includes five tiers of predefined classes for building complex responsive 
            layouts. Customize the size of your columns on extra small, small, medium, large, or extra 
            large devices however you see fit.
        </p>
    </div>
    <div class="col-6 col-md-4">.
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Responsive Template</label>

        <p>
            Bootstrap’s grid includes five tiers of predefined classes for building complex responsive 
            layouts. Customize the size of your columns on extra small, small, medium, large, or extra 
            large devices however you see fit.
        </p>
    </div>
    <div class="col-6 col-md-4">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Responsive Template</label>
        <p>
            Bootstrap’s grid includes five tiers of predefined classes for building complex responsive 
            layouts. Customize the size of your columns on extra small, small, medium, large, or extra 
            large devices however you see fit.
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include '../footer.html' %}
{% endblock %}
