{% extends 'base.html' %}


{% block title %}
DAV SCHOOL | Notice
{% endblock %}

{% block header %}
    {% include '../header.html' %}
{% endblock %}

{% block body_data %}
<div class="row">
    <div class="col-6 col-md-2">
        <label class="col-form-label col-form-label-lg">Responsive Template</label>
        <p>
            Bootstrap’s grid includes five tiers of predefined classes for building complex responsive 
            layouts. Customize the size of your columns on extra small, small, medium, large, or extra 
            large devices however you see fit.
        </p>
    </div>
    <div class="col-6 col-md-8">
        <label class="col-form-label col-form-label-lg">Responsive Template</label>
        <table class="">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Notice Discription
                </th>
                <th>
                    pdf
                </th>
            </tr>
            <tr>
                <td>15-06-2021</td>
                <td>col-sm-2 col-form-label col-form-label-lg"</td>
                <td>xxx</td>
            </tr>


        </table>

    </div>
    <div class="col-6 col-md-2">
        <table>
            <tr>
                <th>Short Cuts</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include '../footer.html' %}
{% endblock %}
